In [4]:
import numpy as np 
import matplotlib as plt
import pandas as pd
import sklearn
%matplotlib inline

In [5]:
f = open('data6.1.txt', 'r')
data = np.array([])
for s in f:
    data = np.append(data, 
                     float(s))
f.close()
print data.shape
lamb = data[0]
data = data[1:]
t0 = 1
t = 60

(16,)

# $\lambda - первая\ строчка\ файла,\\ остальное - t_{i} $
# $ t_{0} = 1;\\ t = 60;\\ lambda=0.362;\\ t_{i}: $

In [6]:
datapd = pd.DataFrame(data)
datapd.columns = ['time']
datapd

      time
0    3.367
1   10.144
2   13.410
3   14.602
4   22.952
5   23.522
6   28.854
7   40.808
8   41.484
9   43.059
10  43.787
11  44.818
12  45.857
13  52.092
14  56.937

### $  N_{t}-N_{s} \ \sim \ Pois(\lambda \cdot (t-s))   $
### $ E(N_{t}-N_{s})\ =\ \lambda \cdot (t-s) $
### $ N_{t}-N_{s}\ независима\ с\ N_{s} \rightarrow\\ E(N_{t}-N_{s}|N_{s}) = E(N_{t}-N_{s}) $
### $ E(N_{t}|N_{s}) = E(N_{t}-N_{s}|N_{s}) + E(N_{s}|N_{s})\\ = \lambda \cdot (t-s)\ +\ N_{s} $

In [7]:
Ns = []
for s in np.arange(t0, t+2):
    Ns.append(
        len(datapd[datapd['time'] <= s])
    )

In [14]:
Es = []

for s, ns in enumerate(Ns):
    Es.append(
        lamb * (t - s) + Ns[s]
    )
    
print "time, E(N_t|N_time*t0)"
pd.set_option('display.max_rows', 
              100)
EsPD = pd.DataFrame(Es)
EsPD.columns = ['E(N_t|N_s)']
EsPD

time, E(N_t|N_time*t0)

    E(N_t|N_s)
0       21.720
1       21.358
2       20.996
3       21.634
4       21.272
5       20.910
6       20.548
7       20.186
8       19.824
9       19.462
10      20.100
11      19.738
12      19.376
13      20.014
14      20.652
15      20.290
16      19.928
17      19.566
18      19.204
19      18.842
20      18.480
21      18.118
22      18.756
23      19.394
24      19.032
25      18.670
26      18.308
27      17.946
28      18.584
29      18.222
30      17.860
31      17.498
32      17.136
33      16.774
34      16.412
35      16.050
36      15.688
37      15.326
38      14.964
39      14.602
40      15.240
41      15.878
42      15.516
43      17.154
44      17.792
45      18.430
46      18.068
47      17.706
48      17.344
49      16.982
50      16.620
51      16.258
52      16.896
53      16.534
54      16.172
55      15.810
56      16.448
57      16.086
58      15.724
59      15.362
60      15.000